@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: hsl(30, 54%, 90%);
}

h1 {
    font-family: 'Young Serif', sans-serif;
    font-weight: 400;
    font-size: 40px;
    opacity: 80%;
}

p {
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

li {
    padding-left: 20px;
    margin-bottom: 10px;
    font-family: 'Outfit', sans-serif;
}

.divider {
    margin-top: 40px;
    opacity: 40%;
}

.recipe_card {
    align-items: center;
    width: 900px;
    height: 1750px;
    border-radius: 20px;
    background-color: white;
    margin: 100px;
}

.recipe {
    margin: 50px 50px auto;
}

#recipe_img {
    width: 800px;
    border-radius: 15px;
}

.prepartion_time
{
    background-color: hsla(332, 51%, 32%, 0.05);
    border-radius: 10px;
    height: 180px;
    font-family: 'Outfit', sans-serif;

}

.prepartion_time h2 {
    color: hsl(332, 51%, 32%);
    font-weight: 600;
    font-size: 20px;
    margin: 25px;
    padding: 25px 15px 0 5px;
}

.preparation_list {
    margin: 10px 20px;
}

.preparation_list li, .ingredients_list li, .instructions_list, .paragraphs {
    opacity: 70%;
}

.preparation_list li::marker {
    color: hsl(332, 51%, 32%);
}

.headers {
    color: hsl(14, 45%, 36%);
    font-family: 'Young Serif', sans-serif;
    font-weight: 400;
    font-size: 28px;
}

ul.ingredients_list {
    padding-left: 12px;
    margin-left: 12px;
}

.ingredients_list li::marker {
    color: hsl(14, 45%, 36%);
}

.instructions_list li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.nutrition_table {
    display: flex;
}

.nutrition {
      margin: 5px 30px;
}

.kcal {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
    margin: auto;
}

.fat_kcal {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
    margin: auto 355px;
}

.nutrition, .nutrition_divider {
    opacity: 60%;
}